* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      black 0%,
      orchid 100%
    );
  }

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 520px;
    width: 100%;
    min-height: 600px;
    background: purple;
    text-align: center;
    margin: 128px auto;
    border-radius: 15px;
}
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
    max-width: 320px;
    width: 100%;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    border: line;
    border-radius:10px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      orchid 0%,
      purple 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      black 0%,
      orchid 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      orchid 0%
      purple 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      black 0%,
     orchid 100%,
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      black 0%,
      orchid 100%,
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      black 0%,
      orchid 100%,
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color:black;
  }
  
  .edit-icon {
    color: black;
  }

/* Media querry */
@media screen and (max-width:550px) {
    #root {
        padding: 10px;
}
